<div class="appreciation-card card-icon--{{@letter}} size--{{@size}}">
  {{svg-jar "card-top-left" class="card-icon-top-left card-icon--top-left"}}
  {{svg-jar "card-bottom-left" class="card-icon-bottom-left card-icon card-icon--bottom-left"}}
  {{yield}}
  {{svg-jar "freshworks-dew" class="card-logo-right"}}
</div>