<div class="quality-card--page">
  <div class="back-btn"
    {{on "click" this.goBack}}>
    {{svg-jar "back"}}
  </div>

  <div id="dummy-div" class="dummy-div">
  </div>
  <div class="card-wrapper">
    <AnimatedContainer>
      {{#animated-value @model use=this.transition}}
        <AppreciationsCard 
            @letter={{@model.letter}}
            @size="l">
          <div class="card-content">
            <div class="card-image-section">
                <img src="{{@model.imageLoc}}" alt="card image">
            </div>

            <div class="card-details-section">
                <div class="card-details-title">
                  {{@model.name}}
                </div>

                <div class="card-details-to">
                  <span>To</span>
                  <input type="text"
                    {{did-insert this.focusInput}}>
                </div>

                <div class="card-details-desc"
                    {{did-insert this.setAutosizeListener}}
                    {{will-destroy this.removeAutosizeListener}}>
                  <Textarea
                    class="textbox-lines" 
                    rows="2"
                    @key-press={{this.cardDescKeyPress}}
                    @value={{this.cardDesc}}/>
                </div>

                <div class="card-details-from">
                  <span>From</span>
                  <input type="text">
                </div>
            </div>
          </div>
        </AppreciationsCard>
      {{/animated-value}}
    </AnimatedContainer>
  </div>

  <AnimatedContainer>
    <div class="share-options">
      {{#animated-if shoshowShareOptions use=this.fade}}
        <div class="share-buttons">
          <button 
            type="button"
            class="btn"
            {{on "click" this.downloadCard}}>
              {{svg-jar "download"}}
              Download card
          </button>
          <button 
            type="button"
            class="btn tooltip"
            disabled={{this.clipboardNotSupported}}
            {{on "click" this.copyToClipboard}}>
              {{svg-jar "clipboard"}}
              Copy card to clipboard

              {{#if this.clipboardNotSupported}}
                <span class="tooltiptext">I'm afraid your browser does not support this functionality.</span>
              {{/if}}
          </button>
        </div>
      {{/animated-if}}
    </div>
  </AnimatedContainer>


</div>