<div class="dummy-wrapper">
</div>

<div class="quality-card--page">
  <div
    role="button"
    class="back-btn"
    {{on "click" this.goBack}}>
    {{svg-jar "back"}}
  </div>

  <div class="card-wrapper">
    <AnimatedContainer>
      {{#animated-value @model use=this.transition}}
        <div class="appreciation-card-wrapper">
          {{#animated-if this.showQualityInfo use=this.cardInfotransition}}
            <div class="appreciation-card card-quality-info card-quality-info--{{@model.letter}}">

              <div role="button" {{on "click" this.onCardInfoCloseClick}}>
                {{svg-jar "close" class="info-close-icon" width="25" height="25"}}
              </div>

              <ul class="a">
                {{#each @model.description.meaning as |desc|}}
                  <li>
                    {{desc}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{else}}
            <AppreciationsCard
                @letter={{@model.letter}}
                @size="l">
              <div role="button"
                  class="card-info"
                  {{on "click" this.onCardInfoClick}}>
                {{svg-jar "info" width="20" height="20"}}
              </div>
              <div class="card-content">
                <div class="card-image-section">
                    <img src="{{@model.lineImageLoc}}" alt="{{@model.imageAlt}}">
                </div>

                <div class="card-details-section">
                    <div class="card-details-title">
                      {{@model.name}}
                    </div>

                    <div class="card-details-to">
                      <span>To</span>
                      <Input name="person-name"
                         @value={{this.cardTo}}
                         {{did-insert this.focusInput}} />
                    </div>

                    <div class="card-details-desc"
                        {{did-insert this.setAutosizeListener}}
                        {{will-destroy this.removeAutosizeListener}}>
                      <Textarea
                        class="textbox-lines" 
                        rows="2"
                        @key-press={{this.cardDescKeyPress}}
                        @value={{this.cardDesc}}/>
                    </div>

                    <div class="card-details-from">
                      <span>From</span>
                      <Input name="person-from"
                         @value={{this.cardFrom}}/>
                    </div>
                  </div>
              </div>
            </AppreciationsCard>
          {{/animated-if}}
        </div>
      {{/animated-value}}
    </AnimatedContainer>
  </div>

  <div class="share-options">
    <div class="share-buttons">
      {{#animated-if this.shoshowShareOptions use=this.fade}}
        <button 
          type="button"
          class="btn"
          {{on "click" this.downloadCard}}>
            {{svg-jar "download"}}
            Download card
        </button>
        <button 
          type="button"
          class="btn tooltip"
          disabled={{this.clipboardNotSupported}}
          {{on "click" this.copyToClipboard}}>
            {{svg-jar "clipboard"}}
            Copy card to clipboard

            {{#if this.clipboardNotSupported}}
              <span class="tooltiptext">I'm afraid your browser does not support this functionality.</span>
            {{/if}}
        </button>
      {{/animated-if}}
    </div>
  </div>

</div>