<div class="select-card--page">
  <div class="intro-wrapper">
    <h2 class="intro-heading">Who made you say "WOW" today?</h2>
    <h3 class="intro-sub">
      Why not take a moment to celebrate your peers, co-workers and leaders for the great work they are doing?
      <br>
      Write a note of appreciation to them for championing our Culture Values, <strong>CHAT</strong>.
    </h3>
  </div>

  <div class="card-list">
      {{#each this.cultureQualities as |quality|}}
        <AnimatedContainer>
          {{#animated-value quality use=this.transition}}
            <button 
                type="button"
                class="card-list-item"
                {{on "click" (fn this.onCardClick quality)}}
                {{on "keypress" (fn this.onCardClickEnter quality)}}>
              {{!-- <div role="button"
                  class="card-info"
                  {{on "click" (fn this.onCardInfoClick quality)}}>
                {{svg-jar "info" width="20" height="20"}}
              </div> --}}
              <div class="card-image">
                <img src="{{quality.imageLoc}}" alt="{{quality.imageAlt}}">
              </div>
              <div class="card-quality-title">
                {{quality.name}}
              </div>
            </button>
          {{/animated-value}}
          </AnimatedContainer>
      {{/each}}
  </div>
</div>

{{!-- {{to-elsewhere named="app-modal" send=(hash component=(component "modals/quality-details" modalClose=this.closeQualityDetailsModal) isOpen=this.showCardDetailsModal)}} --}}

