<div class="select-card--page">
  <div class="intro-wrapper">
    <h2 class="intro-heading">Give one of your peers an appreciation for their good work.</h2>
    <h3 class="intro-sub">Choose one of these qualities to appreciate and make their day 🤗.</h3>
  </div>

  <div class="card-list">
      {{#each this.cultureQualities as |quality|}}
        <AnimatedContainer>
          {{#animated-value quality use=this.transition}}
            <button 
                type="button"
                class="card-list-item"
                {{on "click" (fn this.onCardClick quality)}}
                {{on "keypress" (fn this.onCardClickEnter quality)}}>
              <div role="button"
                  class="card-info"
                  {{on "click" (fn this.onCardInfoClick quality)}}>
                {{svg-jar "info" width="20" height="20"}}
              </div>
              <div class="card-image">
                <img src="{{quality.imageLoc}}" alt="{{quality.imageAlt}}">
              </div>
              <div class="card-quality-title">
                {{quality.name}}
              </div>
            </button>
          {{/animated-value}}
          </AnimatedContainer>
      {{/each}}
  </div>
</div>

{{#each this.cultureQualities as |quality|}}
  <link rel="prefetch" href={{quality.lineImageLoc}}>
{{/each}}


{{to-elsewhere named="app-modal" send=(hash component=(component "modals/quality-details" modalClose=this.closeQualityDetailsModal) isOpen=this.showCardDetailsModal)}}

